.example-spacer {
  flex: 1 1 auto;
}
.logo {
  color: inherit;
  font-weight: bold;
  margin-left: 16px;
  font-size: small;
  margin-top: 2px;
}
.nav-links {
  display: flex;
  margin-left: 16px;
}
.nav-links button {
  color: #125CBB;
}
.mat-toolbar {
  background: #D7E3FF;
  color: #125CBB;
}
mat-icon, mat-icon.mat-primary, mat-icon.mat-accent, mat-icon.mat-warn {
  color: #125CBB;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height);
}
