<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleNavMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">EYE-TECH</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
