<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3 custom-card">
      <form [formGroup]="roofDetails" class="row g-3">
        <h5 class="sub-head">ROOF</h5>
        <div formGroupName="roofDescription" class="row">
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Style of roof</mat-label>
              <mat-select formControlName="style" multiple>
                <mat-option *ngFor="let option of roofStyleOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('roofDescription.style')?.value?.length && roofDetails.get('roofDescription.style')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherStyle">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Pitch</mat-label>
              <mat-select formControlName="pitch" multiple>
                <mat-option *ngFor="let option of roofPitchOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('roofDescription.pitch')?.value?.length && roofDetails.get('roofDescription.pitch')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherPitch">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Visibility</mat-label>
              <mat-select formControlName="visibility" multiple>
                <mat-option *ngFor="let option of roofVisibilityOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('roofDescription.visibility')?.value?.length && roofDetails.get('roofDescription.visibility')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherVisibility">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Method of Inspection</mat-label>
              <mat-select formControlName="methodOfInspection" multiple>
                <mat-option *ngFor="let option of roofInspectionMethodOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('roofDescription.methodOfInspection')?.value?.length && roofDetails.get('roofDescription.methodOfInspection')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherMethodOfInspection">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Ventilation Present</mat-label>
              <mat-select formControlName="ventilationPresent" multiple>
                <mat-option *ngFor="let option of roofVentilationPresentOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Ventilation Type</mat-label>
              <mat-select formControlName="ventilationType" multiple>
                <mat-option *ngFor="let option of roofVentilationTypeOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6"  *ngIf="roofDetails.get('roofDescription.ventilationType')?.value?.length && roofDetails.get('roofDescription.ventilationType')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherVentilationType">
            </mat-form-field>
          </div>
        </div>

        <app-image-uploader [imageName]="plumbingConditionOfCoveringsImage"></app-image-uploader>


        <hr>
        <h6 class="sub-head">CONDITION OF ROOF COVERINGS</h6>
        <div formGroupName="conditionOfCoverings" class="row">
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Material</mat-label>
              <mat-select formControlName="material" multiple>
                <mat-option *ngFor="let option of roofMaterialOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('conditionOfCoverings.material')?.value?.length && roofDetails.get('conditionOfCoverings.material')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherMaterial">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Approximate Age Of Shingles</mat-label>
              <input matInput formControlName="approximateAgeShingles">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition" multiple>
                <mat-option *ngFor="let option of roofConditionOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('conditionOfCoverings.condition')?.value?.length && roofDetails.get('conditionOfCoverings.condition')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherCondtion">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="general-full-width">
              <mat-label>Comments</mat-label>
              <input matInput formControlName="comments">
            </mat-form-field>
          </div>
        </div>


        <app-image-uploader [imageName]="plumbingConditionOfCoveringsSecondImage"></app-image-uploader>

        <hr>
        <h6 class="sub-head">PLUMBING VENTS</h6>
        <div formGroupName="plumbingVents" class="row">
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Plumbing Vents</mat-label>
              <mat-select formControlName="plumbingOfVents" multiple>
                <mat-option *ngFor="let option of plumbingVentsPresentOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('plumbingVents.plumbingOfVents')?.value?.length && roofDetails.get('plumbingVents.plumbingOfVents')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherPlumbingOfVents">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" multiple>
                <mat-option *ngFor="let option of plumbingVentsTypeOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('plumbingVents.type')?.value?.length && roofDetails.get('plumbingVents.type')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherType">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="general-full-width">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition" multiple>
                <mat-option *ngFor="let option of plumbingVentsConditionOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="roofDetails.get('plumbingVents.condition')?.value?.length && roofDetails.get('plumbingVents.condition')?.value.includes('Other')">
            <mat-form-field class="general-full-width">
              <mat-label>Other</mat-label>
              <input matInput formControlName="otherCondtion">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="general-full-width">
              <mat-label>Comments</mat-label>
              <input matInput formControlName="comments">
            </mat-form-field>
          </div>
        </div>

        <app-image-uploader [imageName]="plumbingVentsImage"></app-image-uploader>

      </form>
    </div>
  </div>
</div>
