 <div class="container">
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
      <div class="row justify-content-center" *ngIf="!isLoading">
        <div class="col-md-6">
          <div class="card border-primary mb-3 custom-card">
            <div class="card-body">
              <h2 class="head-login">Home Inspector Login</h2>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="col-md-12">
                  <mat-form-field class="general-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">Please enter a valid email address</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field class="general-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter Password">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')">Password must be at least 6 characters long</mat-error>
                  </mat-form-field>
                </div>
                <br>
                <button mat-flat-button [disabled]="loginForm.invalid" style="width: 100%;" (click)="login()">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
